{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootswatch.less" %}" rel="stylesheet">
    <link href="{% static "css/variables.less" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'home' %}">Attendy</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">


                  <ul class="nav navbar-nav navbar-right">
                         <li><a href="{% url 'home' %}">Home</a></li>
                         {% if user.is_authenticated %}

                        <li><a href="{% url 'logout' %}">Logout</a></li>

                         {% if user.user_type == 0 %}
                        <li><a href="{% url 'check_in' %}">CheckIn/Out</a></li>
                                 {% else %}
                         <li><a href="{% url 'teacher_view' %}">View Data</a></li>
                                 {% endif %}
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                  </ul>
                </div>
              </div>
{% block content %}
{% endblock content %}
</body>
</html>