body {
    background-image: url('/static/img/teacher.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color:darkblue;


}
#mayor {
    color: darkblue;
    font-size: 30px;
  }

h1{
    font-size:70px;
}

#login {
    color: darkblue;
    font-size: 25px;
  }